<div class="contenedor-vista-sistema" id="contenedor-vista-sistema">

  <header class="header-sistema">
      <div class="icon-menu">
          <i class="fa-solid fa-bars icono__menu" id="btn-open" (click)="Togglemenu_side()"></i>
      </div>
  </header>

  <div class="menu__side" id="menu__side">

      <div class="name__page">

          <i class="fa-solid fa-book icono-primero"></i>
          <h2>EDYFU</h2>
      </div>


      <div class="options__menu">

          <a href="#">
              <div class="option">
                  <i class="fa-solid fa-house icono-option" title="Inicio"></i>
                  <h4>Inicio</h4>
              </div>
          </a>
          <a href="#" class="activado">
              <div class="option">
                  <i class="fa-solid fa-file icono-option" title="Portafolio"></i>

                  <h4>Portafolio</h4>
              </div>
          </a>
          <a href="#">
              <div class="option">
                  <i class="fa-solid fa-video icono-option" title="Curso"></i>
                  <h4>Curso</h4>
              </div>
          </a>
          <a href="#">
              <div class="option">
                  <i class="fa-solid fa-note-sticky icono-option" title="Blog"></i>
                  <h4>Blog</h4>
              </div>
          </a>
          <a href="#">
              <div class="option">

                  <i class="fa-solid fa-id-badge icono-option" title="Contacto"></i>
                  <h4>Contacto</h4>
              </div>
          </a>
          <a href="#">
              <div class="option">
                  <i class="fa-solid fa-users icono-option" title="Nosotros"></i>
                  <h4>Nosotros</h4>
              </div>
          </a>




      </div>

  </div>


  <main>
      <h1>Titulo Example</h1>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis ipsam dolorum libero amet tenetur
          ad, voluptatem culpa? Consequuntur nihil quia, reiciendis aspernatur labore obcaecati maiores neque totam id
          odio cum accusamus dolores asperiores mollitia ad esse aliquam incidunt veniam, vitae adipisci natus vel?
          Aliquam fugiat incidunt ex voluptates dignissimos. Quam placeat quibusdam suscipit. Reprehenderit corrupti
          maiores, cupiditate non molestiae ut quia, adipisci illo commodi numquam vero nostrum assumenda, facilis
          ducimus quod tempore magnam consequuntur. Exercitationem corporis eligendi laboriosam quia blanditiis, eaque
          unde animi fugit quam voluptatum ratione perferendis veniam voluptatem ex officiis distinctio beatae debitis
          veritatis. Repellat nulla laboriosam maiores quas tempore impedit asperiores nostrum odio velit cupiditate
          hic dolor, veniam voluptatibus minus aliquam excepturi facere inventore dicta perferendis ex mollitia
          expedita blanditiis omnis error! Similique molestiae deserunt veritatis deleniti eum laboriosam voluptates
          minima ducimus incidunt provident ab fugiat, vitae consequuntur expedita non animi sapiente, fugit eos
          mollitia recusandae laborum! Quia totam consequuntur a harum. Iusto consequuntur officia, non quo saepe
          voluptas porro. Libero laudantium provident dignissimos fuga eius? Repellendus dolorum laudantium beatae a
          excepturi aliquid quaerat harum. Iusto voluptate illum in a iure veniam ut libero aliquid temporibus
          veritatis aliquam et mollitia sunt sequi, optio debitis, nisi eaque.</p>
 
  </main>

</div>